<div class="content-loader-tableau" fxLayout="column">
  <div class="content-loader-tableau__row" fxFlex="55.9%" fxLayout="row" fxLayoutAlign="space-between">
    <app-content-loader-block
      fxFlex="33.3%"
      heightTitle="0"
    ></app-content-loader-block>
    <app-content-loader-block
      fxFlex="29.5%"
      heightTitle="0"
    ></app-content-loader-block>
    <app-content-loader-block
      fxFlex="33.4%"
      heightTitle="0"
    ></app-content-loader-block>
  </div>
  <app-content-loader-block
    fxFlex="calc(100% - 55.9% - 32px)"
    heightTitle="0"
  ></app-content-loader-block>
</div>
